*.pyc

.obsidian/

.python-version
.venv
.env
.env-*
*.egg-info/

**/.DS_Store

.pytest_cache/
.cache
.mypy_cache/


**/test-reports/
**/coverage-reports/
.coverage

**/.idea/*

*/.vault.json

*.log
*/node_modules/
.eslintcache
.env*
.secret

**/data/

**/.terraform*
